---
layout: default
---

<div class="header">
    <h1>{{ site.name }}</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="portfolio">
    <h1>Library Innovations:</h1>
    <ul>
        {% for websites in site.data.websites %}
        <li>
            <a href="{{https://sophia.smith.edu/blog/mneptune/}}">{{The Black Unicorn Project @ Smith College}}</a>
        </li>
        <li>
            <a href="{{https://sophia.smith.edu/knowledgelab/category/past-projects/}}">{{Strength for the Struggle Zine Workshop}}</a>
        </li>
        <li>
            <a href="{{https://www.smith.edu/news/smith-students-and-matahari/}}">{{Digital Timeline of Domestic Worker Organizing}}</a>
        </li>
        <li>
            <a href="{{http://www.smith.edu/libraries/info/news/blackness-in-americas}}">{{Blackness In the Americas}}</a>
        </li>
          <li>
            <a href="{{https://www.smith.edu/news/design-thinking-open-house/}}">{{Design Thinking for the Library}}</a>
        </li>


        {% endfor %}
    </ul>
</div>
<div class="blog">
</div>
<div class="music">
    <h1>Videos</h1>
    <a href="https://www.youtube.com/watch?v=8FLElE5lprY"><span id="nowPlaying"></span></a>
</div>
<script src="/assets/js/main.js"></script>
